{% extends "base.html" %}
{% block content %}

    <h1>Add a Blog Entry</h1>
    <form method="POST">
        

        <table>
            <tr>
                <td>
                    <label>Title of Blog Post</label>
                </td>
                <td>
                    <input type="text" name="blog-title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Blog Entry</label>
                </td>
                <td>
                    <textarea name="blog-entry">{{ blog_body }}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Entry" />
                </td>
            </tr>
        </table>
    </form>
    



{% endblock %}