{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form action="/signup" id="form" method="POST">
    <fieldset>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">Username
                    </label>
                </td>
                <td>
                    <input id="username" type="text" name="username" value="{{username}}" />
                    <p class="error">{{ username_error }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input id="password" type="password" name="password" />
                    <p class="error">{{ password_error }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="verify_password">Verify Password</label>
                </td>
                <td>
                    <input id="verify_password" type="password" name="verify_password" />
                    <p class="error">{{ verify_password_error }}</p>    
                </td>
            </tr>
        </tbody>

    </table>
    <input type="submit" value="Register">
    </fieldset>
</form>

{% endblock %}